@font-face {
  font-family: "menu-iconfont";
  /* Project id 2539548 */
  src: url('//at.alicdn.com/t/font_2539548_55wt42lfbw8.woff2?t=1623246212591') format('woff2'),
    url('//at.alicdn.com/t/font_2539548_55wt42lfbw8.woff?t=1623246212591') format('woff'),
    url('//at.alicdn.com/t/font_2539548_55wt42lfbw8.ttf?t=1623246212591') format('truetype');
}

.icon_yonghu_nor:before {
  content: "\e6d1";
}



.icon_juese_nor:before {
  content: "\e6d5";
}

.icon_muban_nor:before {
  content: "\e6d6";
}


.icon_commission-43_nor:before {
  content: "\e6d3";
}

.icon_home_baodan_nor:before {
  content: "\e6d0";
}

.icon_mechanism_norfuben21:before {
  content: "\e693";
}

.icon_kehu_data_nor:before {
  content: "\e694";
}

.icon_icon_edit:before {
  content: "\e695";
}

.icon_qudaoyj_nor:before {
  content: "\e696";
}

.icon_mechanism_norfuben22:before {
  content: "\e697";
}


.icon_mechanism_nor:before {
  content: "\e6a8";
}

.icon_commission_nor:before {
  content: "\e6a9";
}

.icon_file_nor:before {
  content: "\e6ab";
}

.icon_icon_form_search:before {
  content: "\e6ac";
}

.icon_issue_nor:before {
  content: "\e6ae";
}

.icon_attion:before {
  content: "\e6af";
}

.icon_kehu_baodan_nor:before {
  content: "\e6b1";
}

.icon_file_interior_nor:before {
  content: "\e6b2";
}

.icon_arrive_nor:before {
  content: "\e6bb";
}

.icon_home_nor:before {
  content: "\e6bc";
}

.icon_settle_nor:before {
  content: "\e6bd";
}

.icon_mechanism_norfuben13:before {
  content: "\e6c5";
}

.icon_home_kehu_nor:before {
  content: "\e6d4";
}