#app {

  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: 200px;
    background: #EFF0F3;
    position: relative;
  }

  // 侧边栏
  .sidebar-container {
    padding-top: 24px;
    transition: width 0.28s;
    width: 200px !important;
    height: 100%;
    position: fixed;
    font-size: 16px;
    top: 60px;
    bottom: 0;
    left: 0;
    padding-bottom: 60px;
    z-index: 1001;
    overflow: hidden;
    box-shadow: 0px 2px 18px 0px rgba(14, 17, 41, 0.08), -9px 0px 18px 0px rgba(4, 12, 26, 0.1);

    &:hover {
      box-shadow: none;
    }

    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;

      .el-scrollbar__view {
        height: 100vh;
      }
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
      display: none;
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      font-size: 16px;
    }

    .svg-icon {
      margin-right: 12px;
      font-size: 20px;
      vertical-align: middle;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    .el-menu-item {
      font-size: 14px !important;
      padding-left: 40px !important;

      i {
        color: $--content;
      }

      &:hover {
        color: $--purple !important;
      }
    }

    .submenu-title-noDropdown {
      padding-left: 20px !important;

      i {
        color: $--content;
      }
    }

    .is-active>.el-submenu__title {
      color: $--label !important;
      padding-left: 20px !important;

    }

    .el-submenu__title {
      font-size: 14px;

      i {
        color: $--content;
        font-family: "iconfont" !important;
        font-size: 20px;
        margin-top: -10px;

        &::before {
          content: "\e6ce";
        }
      }


    }

    .el-submenu__title:hover {
      background-color: $--purple-assist !important;
    }

    .is-active {
      background-color: $--purple-assist !important;
    }

    .router-link-active {
      i {
        color: $--purple !important;
      }
    }

    .el-menu-item.is-active .title {
      font-weight: bold;
    }

    .el-menu-item.is-active::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 6px;
      height: 30px;
      border-radius: 4px 0px 0px 4px;
      box-shadow: 0px 2px 20px 0px rgba(14, 17, 41, 0.08);
      background-color: $--purple;
      margin-top: 10px;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 60px !important;

      .svg-icon {
        margin-right: 0px;
        font-size: 24px;
        vertical-align: middle;
      }
    }

    .main-container {
      margin-left: 60px;
    }

    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;

      .el-tooltip {
        padding: 0 16px !important;
      }
    }

    .submenu-title-noDropdown:hover {
      background-color: $--purple-assist !important;
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding-left: 15px !important;

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {

          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 200px !important;
    font-size: 14px !important;
    font-weight: 400;

    &:hover {
      background-color: $--purple-assist !important;

      i {
        color: $--purple !important
      }
    }
  }



  .submenu-title-noDropdown:hover {
    background-color: $--purple-assist !important;
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: 200px !important;
    }

    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-200px, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .el-menu--popup {
    padding: 0;

    .el-menu-item:focus,
    .el-menu-item:hover {
      background-color: $menuHover !important;

    }

    .el-menu-item.is-active {
      font-weight: bold;

    }
  }
}