// $blue:#324157;
// $light-blue:#3A71A8;
// $red:#C03639;
// $pink: #E65D6E;
// $green: #30B08F;
// $tiffany: #4AB7BD;
// $yellow:#FEC171;
// $panGreen: #30B08F;

//sidebar
$menuBg:#fff;
$subMenuBg:#fff;
$menuHover:#fff;

$--purple: #515CC3;
$--purple-assist: #E7E8F5;
$--orange: #E96030;
$--orange-assist: #FFEDE7;
$--green: #3AB29A;
$--green-assist: #E4F4F1;
$--red: #E23A3A;
$--red-assist: #FFE6E6;
$--yellow: #FAA600;
$--yellow-assist: #FFEECA;

$--font-size-large: 22px !default;
$--font-size-base: 20px !default;
$--font-size-small: 18px !default;
$--font-size-btn: 16px !default;
$--font-size-content: 14px !default;
$--font-size-min: 12 px !default;
// $--font-color-disabled-base: #bbb !default;
// $--font-weight-primary: 500 !default;
// $--font-line-height-primary: 24px !default;